-
	const data = {
		header: {
			links: {
				logo: '#',
			},
			menu: [
				{
					url: '#',
					name: 'О компании'
				},
				{
					url: '#',
					name: 'О производстве'
				},
				{
					url: '#',
					name: 'Гарантии и сервис'
				},

				{
					url: '#',
					name: 'Виды отделки'

				},

				{
					url: '#',
					name: 'Материалы для производства'
				}
			]
		},
		

		socials: {
			icons: [
			{ icon:	'fb', href: '#'  }, 
			{ icon:	'yt', href: '#'  }, 
			{ icon:	'in', href: '#'  } 
		]

		},

		

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
