main.home
	.rectange
		.container-lg
			.rectange__logo
				.rectange__desc
					ul
						li
							a.link(href="#") Обратный звонок
						li
							a.link(href="#") zakaz@rusremeslo.ru
						li
							a.link(href="#") Схема проезда
				.rectange__logo
					a.r__logo(href='#')
						img.header__lamp-logo( src="images/logo.png" alt="logo")
				.rectange__call
					span.dsds Художетвенное столярное производство
					span.smsz Ответим на все ваши вопросы
					span.tell +7 (495) 798-35-50
					span.smsz ежедневно с 09:00 до 22:00
		
		.rectange__nav
			.container-lg
				nav.nav
					ul
						li
							a.link(href="#") Двери
						li
							a.link(href="#") Мебель и интерьер
						li
							a.link(href="#") Дизайн проекты
						li
							a.link(href="#") Наши объекты
						li
							a.link(href="#") Контакты
		
		.rectange__title
			h3 Крупнейший производитель мебели <br> и интерьеров из ценных пород дерева на заказ <br> с 2002 года
				.sm-zag
					h2 Собственное производство в Москве	
		.rectange__benefits
			.rectange__item
				img.rectange__item-img(class='' src="images/sawmill.png" alt="logo")
				span Современное<br> производство
			.rectange__item
				img.rectange__item-img(src="images/shield.png" alt="logo")
				span Гарантия <br>качественных изделий
			.rectange__item
				img.rectange__item-img(src="images/armchair.png" alt="logo")
				span  Любая<br> сложность изделий

			.rectange__item
				img.rectange__item-img(src="images/textile.png" alt="logo")
				span Любая<br> сложность отделки
		.rectange__btn
			.container-lg
				.rectange__line
					button(type='button' class='btn app') Оставить заявку на просчет
					button(type='button' class='btn cat') Перейти в каталог					
		
		.rectange__slider
			.container-lg
				.rectange__sl
					ul
						li
							img.rectange__item-img(src="images/rcs.png" alt="logo")
						li
							img.rectange__item-img(src="images/rcs.png" alt="logo")
						li
							img.rectange__item-img(src="images/rcs.png" alt="logo")


	.confid
		.container-lg
			.confid__title
				h2.pt-17.pb-14 Почему нам доверяют
			.confid__content
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/event.png" alt="logo")
					span.b <b>Более</b> <br>17 лет на рынке
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/value.png" alt="logo")
					span.b <b>Собственное</b> <br>производство 1500 м2
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/maintenance.png" alt="logo")
					span.b <b>Современное</b> <br>импортное оборудование
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/plant.png" alt="logo")
					span.b <b>Только </b> <br>высококачественные и экологичные материалы
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/pencil.png" alt="logo")
					span.b <b>Творческий</b> <br> подход к каждому проекту
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/diamond.png" alt="logo")
					span.b <b>Высокое</b> <br> качество изготавливаемых изделий

			.confid__title.mb-20.pt-14
				a.confid__title--link.pb-10(href="#") Что нужно знать, чтобы не ошибиться при выборе подрядчика
				h2 Что мы предлагаем

		
		.confid__catalog
			.confid__catalog__item
				img.confid__item-img(src="images/r1.png" alt="logo")
				.confid__catalog__box
					a.confid__cat--link(href="#") Дизайн проекты
					a.confid__cat--link(href="#") Уличные двери
					a.confid__cat--link(href="#") Межкомнатные двери
					a.confid__cat--link(href="#") Плинтуса иналичники
					a.confid__cat--link(href="#") Кессонные потолки
					a.confid__cat--link(href="#") Стеновые панели
			.confid__catalog__item
				img.confid__item-img(src="images/r2.png", alt="logo")
				.confid__catalog__box
					a.confid__cat--link(href="#") Гардеробные
					a.confid__cat--link(href="#") Кабинеты
					a.confid__cat--link(href="#") Шкафы
					a.confid__cat--link(href="#") Библиотеки
					a.confid__cat--link(href="#") Прихожие
					a.confid__cat--link(href="#") Мебель для ванной
			.confid__catalog__item
				img.confid__item-img(src="images/r3.png", alt="logo")
				.confid__catalog__box
					a.confid__cat--link(href="#") Лестницы
					a.confid__cat--link(href="#") Кухни
					a.confid__cat--link(href="#") Винные погребы
					a.confid__cat--link(href="#") Столы
					a.confid__cat--link(href="#") Изголовья кроватей


	.company-volume.bg-cover
		.container-lg
			.company-volume__title.pt-15.pb-8
				h2.text-center.text-black.text-6xl.font-bold Компания в цифрах
			.company-volume__content.flex.flex-wrap.justify-between.flex-row
				.company-volume__item.border-solid.border-black.rounded-2-5l.pl-6.pt-6.pb-5.mb-8.flex.flex-col
					span.title.text-25xl.text-black.font-bold <b>17 </b> <br> 
					span.text.font-normal.text-2xl.text-black лет успешной работы
				.company-volume__item.border-solid.border-black.rounded-2-5l.pl-6.pt-6.pb-5.mb-8.flex.flex-col
					span.text-25xl.text-black.font-bold <b>1 500 м2</b> 
					span.font-normal.text-2xl.text-black  производственных площадей 
				.company-volume__item.border-solid.border-black.rounded-2-5l.pl-6.pt-6.pb-5.mb-8.flex.flex-col
					span.text-25xl.text-black.font-bold <b>56</b> 
					span.font-normal.text-2xl.text-black  квалифицированных сотрудников 
				.company-volume__item.border-solid.border-black.rounded-2-5l.pl-6.pt-6.pb-5.mb-8.flex.flex-col
					span.text-25xl.text-black.font-bold <b>21 735</b> 
					span.font-normal.text-2xl.text-black  качественно выполненных изделий
				.company-volume__item.border-solid.border-black.rounded-2-5l.pl-6.pt-6.pb-5.mb-8.flex.flex-col
					span.text-25xl.text-black.font-bold <b>560 м2</b> 
					span.font-normal.text-2xl.text-black  складских помещений
				.company-volume__item.border-solid.border-black.rounded-2-5l.pl-6.pt-6.pb-5.mb-8.flex.flex-col
					span.text-25xl.text-black.font-bold <b>38</b> 
					span.font-normal.text-2xl.text-black  единиц современного оборудования

	.portfolio
		.portfolio__title
			h2.pt-16.pb-18 Наши работы
		.flex.flex-wrap.flex-row.justify-center
			.mb-9.relative.mr-8
				img.confid__item-img(src="images/p1.png" alt="logo")
				.absolute.left-7.bottom-7
					a.text-white.font-bold.text-2xl.confid__cat--link(href="#") Лестницы
			.mb-9.relative.mr-8
				img.confid__item-img(src="images/p2.png" alt="logo")
				.absolute.left-7.bottom-7
					a.text-white.font-bold.text-2xl.item__box-link(href="#") Входные двери
			.mb-9.relative.mr-8
				img.confid__item-img(src="images/p3.png" alt="logo")
				.absolute.left-7.bottom-7
					a.text-white.font-bold.text-2xl.item__box-link(href="#") Стеновые панели
			.mb-9.relative.mr-8
				img.confid__item-img(src="images/p4.png" alt="logo")
				.absolute.left-7.bottom-7
					a.text-white.font-bold.text-2xl.item__box-link(href="#") Гардеробы, прихожие, шкафы
			.mb-9.relative.mr-8
				img.confid__item-img(src="images/p5.png" alt="logo")
				.absolute.left-7.bottom-7
					a.text-white.font-bold.text-2xl.item__box-link(href="#") Кабинеты, библиотеки
			.mb-9.relative.mr-8
				img.confid__item-img(src="images/p6.png" alt="logo")
				.absolute.left-7.bottom-7
					a.text-white.font-bold.text-2xl.item__box-link(href="#") Кессонные потолки


	.flex.flex-col.items-center
		.mb-16
			h2.text-black.font-bold.text-6xl Варианты отделки
		.items-center
			h3.text-black.font-light.text-4xl.mb-18  Любой уровень сложности
		.flex.flex-wrap.justify-center
			
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/tr1.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Патина
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/tr2.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Поталь (золото, серебро)
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/tr3.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Эмаль RAL
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/tr4.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Браширование Старение
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/tr5.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Полировка под глянец
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/tr6.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Отделка маслом

	.production.pt-15
		.container-lg
			.mb-24.text-center
				h2.text-black.text-6xl.font-bold.mb-5  Возможности производства
				span.text-black.text-3xl.font-light.block Большие производственные площади и современное обрудование, позволяет нам изготавливать в месяц
			.production__content
				.production__item
					span.title <b>10 000</b> 
					span.text п.м погонажных изделий 
				.production__item
					span.title <b>200</b> 
					span.text дверных блоков
				.production__item
					span.title <b>1 200 м2</b> 
					span.text кессонных потолков
				.production__item
					span.title <b>2 000 м2</b> 
					span.text стеновых панелей
				.production__item
					span.title <b>27</b> 
					span.text готовых изделий мебел
				.production__item
					span.title <b>27</b> 
					span.text готовых изделий мебели
	.park
		.portfolio__title
			h2.pt-14.mb-18 Парк нашего оборудования
		.flex.flex-wrap.flex-row.justify-center
			.portfolio__item.mr-7.mb-7.relative
				img.confid__item-img(src="images/rec.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Конструкторский и дизайнерский отдел
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park2.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Деревообрабатывающий центр с ЧПУ
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park3.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Горячий гидравлический пресс
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park4.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Мембранно-вакуумный пресс
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park5.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Форматно-раскроечные станки
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park6.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Кромко-облицовочные станки
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park7.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#" ) Сверлильно-присадочные станки
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park8.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8  
					a.font-normal.text-xl.text-white(href="#") Калибровально-шлифовальные станки
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park9.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Покрасочная камера с водяной завесой
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/park10.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Собственный автопарк



	.material
		.flex.flex-col.text-center
			h2.pt-14.mb-8.text-black.font-bold.text-6xl Парк нашего оборудования
			span.text-black.text-xl.font-light.block.mb-5 Высококачественные и экологически чистые материалы лучших<br>европейских производителей
			span.text-4xl.text-black.font-normal.mb-9 Изготавливаем из любых пород дерева и шпона
		.flex.flex-wrap.flex-row.justify-center
			.portfolio__item.mr-7.mb-7.relative
				img.confid__item-img(src="images/dub.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Дуб
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/oreh.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Орех
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/listv.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Лиственница
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/buk.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Бук
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/sapele.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Сапеле
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/dub.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Дуб
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/oreh.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#" ) Орех
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/listv.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8  
					a.font-normal.text-xl.text-white(href="#") Лиственница
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/buk.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Бук
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/sapele.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Сапеле


	.material
		.flex.flex-col.text-center
			h2.pt-14.mb-8.text-black.font-bold.text-6xl Парк нашего оборудования
			span.text-black.text-xl.font-light.block.mb-5 Высококачественные и экологически чистые материалы лучших<br>европейских производителей
			span.text-4xl.text-black.font-normal.mb-9 Изготавливаем из любых пород дерева и шпона
		.flex.flex-wrap.flex-row.justify-center
			.portfolio__item.mr-7.mb-7.relative
				img.confid__item-img(src="images/pl-1.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-2.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-3.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-4.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-5.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-6.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-6.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#" ) Орех
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-8.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8  
					a.font-normal.text-xl.text-white(href="#") 
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-9.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(href="#") Б
			.portfolio__item.mr-7.mb-7.relative 
				img.confid__item-img(src="images/pl-10.png" alt="logo")
				.portfolio__item__box.absolute.left-8.bottom-8
					a.font-normal.text-xl.text-white(h.ref="#")

	.flex.flex-col.items-center
		.mb-16
			h2.text-black.font-bold.text-6xl Технологии производства 
		.flex.flex-wrap.justify-center
			
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/t-1.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Контроль влажности материалов
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/t-2.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Раскрой материала
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/t-3.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Отлёжка материала не менее 2-х недель
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/t-4.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Обработка древесины
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/t-5.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Качественная склейка, снижающая<br> внутреннее напряжение материала
			.relative.mb-20.mr-7
				img.confid__item-img(src="images/t-6.png" alt="logo")
				.mt-5
					a.text-black.text-lg.text-center.block(href="#") Покраска в закрытой покрасочной<br> камере с водяной завесой

	.confid
		.container-lg
			.confid__title
				h2.pt-17.pb-14 Гарантии и сервис
			.confid__content
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/shield.png" alt="logo")
					span.b <b>Гарантия</b> <br>на изделия до 3-х лет
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/clock.png" alt="logo")
					span.b <b>Гарантия</b> <br>изготовления заказа в срок
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/loupe.png" alt="logo")
					span.b <b>Контроль</b> <br>качества на каждом этапе
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/car.png" alt="logo")
					span.b <b>Выезд специалиста</b> <br>по гарантии на следующий день
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/protection.png" alt="logo")
					span.b <b>Страхование </b> <br>обязательств по договору
				.confid__item
					.confid__item--img
						img.confid__item-img(src="images/paint-brushes.png" alt="logo")
					span.b <b>Гарантия</b> <br>на лакокрасочное покрытие 10 лет

	.working.pt-15.pd-lr-9
			.mb-14.text-center
				h2.text-white.text-6xl.font-bold  Как мы работаем
			.flex.flex-row.items-center.justify-between 
				.workin__item
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'> 1.</span> Заявка на сайте или звонок нам <br>
						span.text-white.text-lg.font-normal Мы свяжемся с Вами и обсудим все детали. 
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'> 4.</span> Разработка дизайн проекта от 1 дня<br>  
						span.text-white.text-lg.font-normal  Расчет стоимости и заключение Договора.
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'> 7.</span> Доставка<br> 
						span.text-white.text-lg.font-normal И сборка мебели в один день.

				.workin__item
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'>2.</span> Бесплатно делаем расчет стоимости<br> 
						span.text-white.text-lg.font-normal Консультируем. Даем рекомендации по материалам. 
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'>5.</span> Производство мебели по чертежам<br> 
						span.text-white.text-lg.font-normal  И эскизам от 5 дней. Изготовление образцов и покраски.
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'>8.</span> Производство мебели по чертежам<br> 
						span.text-white.text-lg.font-normal  И эскизам от 5 дней. Изготовление образцов и покраски.
				
				.workin__item
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'>3.</span> Выезд на замер дизайнера-конструктора<br> 
						span.text-white.text-lg.font-normal  с образцами материалов и каталогом.
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'>6.</span> Фото отчет<br> 
						span.text-white.text-lg.font-normal  На каждом этапе работы.
					.pb-7
						span.text-white.text-2xl.font-bold <span class='text-gold'>9.</span> Фото отчет<br> 
						span.text-white.text-lg.font-normal  На каждом этапе работы.

	.confid__title.mb-20.pt-15
		h2.pb-19 Что мы предлагаем

		.flex.flex-wrap.justify-center 
			.relative.mr-7.mb-6
				img.confid__item-img(src="images/kids.png" alt="logo")
				.left-325.top-228.absolute.flex-col.flex
					a.text-white.text-2xl.font-normal(href="#") Детская

			.relative.mr-7.mb-6
				img.confid__item-img(src="images/welc.png" alt="logo")
				.left-325.top-228.absolute.flex-col.flex
					a.text-white.text-2xl.font-normal(href="#") Входная дверь
					
			.relative.mr-7.mb-6
				img.confid__item-img(src="images/kab.png" alt="logo")
				.left-325.top-228.absolute.flex-col.flex
					a.text-white.text-2xl.font-normal(href="#") Кабинет

			.relative.mr-7.mb-6
				img.confid__item-img(src="images/biblio.png" alt="logo")
				.left-325.top-228.absolute.flex-col.flex
					a.text-white.text-2xl.font-normal(href="#") Библиотека


	.reviews.mb-20.pt-15.text-center
		h2.pb-19.text-black.text-6xl.font-bold Что мы предлагаем
		span.text-black.text-3xl.font-light.block.mb-5 Благодарственные письма
		.sl.container-wrap
			.mr-6
				img.confid__item-img(src="images/otz-1.png" alt="logo" data-lazy="images/otz-1.png")
			.mr-6
				img.confid__item-img(src="images/otz-2.png" alt="logo" data-lazy="images/otz-2.png")
			.mr-6
				img.confid__item-img(src="images/otz-3.png" alt="logo" data-lazy="images/otz-3.png")
			.mr-6
				img.confid__item-img(src="images/otz-4.png" alt="logo" data-lazy="images/otz-4.png")
			.mr-6
				img.confid__item-img(src="images/otz-1.png" alt="logo" data-lazy="images/otz-1.png")
			.mr-6
				img.confid__item-img(src="images/otz-2.png" alt="logo" data-lazy="images/otz-2.png")
			.mr-6
				img.confid__item-img(src="images/otz-3.png" alt="logo" data-lazy="images/otz-3.png")
			.mr-6
				img.confid__item-img(src="images/otz-4.png" alt="logo" data-lazy="images/otz-4.png")





		.partic
			h2.pb-19.text-black.text-6xl.font-bold Участие в выставках
			span.text-black.text-3xl.font-light.block.mb-5 Мы постоянные участники международных и российских выставок