append vars

html.classList.push('page-index')


	block body-start
		.header
			.container-lg
				.header__holder
					nav.nav
						ul
							li
								a.link(href="#") О компании
							li
								a.link(href="#") О производстве
							li
								a.link(href="#") Гарантии и сервис
							li
								a.link(href="#") Виды отделки
							li
								a.link(href="#") Материалы для производства

					.switch-lang
						a.link(href="#") EN

					.social__links
						ul
							li
								a.inst(href="#")
									img( class='header__lamp-logo' src="images/inst.png", alt="browser")
							li
								a.you(href="#")
									img( class='header__lamp-logo' src="images/you.png", alt="browser") 
							li
								a.faceb(href="#")
									img( class='header__lamp-logo' src="images/fb.png", alt="browser") 